<h4 class="h4">We're Glad You Found Us,</h4>
<p>
  Thanks for signing up for MocsforDocs.org. Our mission is to empower doctors. We believe that doctors can and will help each other to make medicine better. Our platform is built mostly to connect doctors together and then get out of the way of their collaboration and learning.
</p>
<p>
  Since MocsforDocs.org is a private Learning Network for Physicians, we verify every user's identity and profile before granting them access. It will only take us a few hours to a day to grant you access. Thank you for your patients. 
</p>
<p>
  In the meantime, if you have more questions or want to get in touch with us for any reason, you can reply to this email, or <%= link_to "follow us", "https://twitter.com/mocsfordocs" %> on Twitter. If you want to learn more about how MocsforDocs.org works visit the <%= link_to 'How it Works', how_url %>. For more information on our team, visit our <%= link_to "About Us", about_url %></h2> page.
</p>