<h4 class="h4">There was a transaction error paying for commtiments</h4>
<br />
<br />
<strong>Name:</strong> <%= @user.name.titleize %>
<strong>Email:</strong> <%= @user.email %>
<br />
<br />
<h2><%= link_to "CONFIRM THEM", users_url %></h2>