<h4 class="h4">Hey Andrew, Tracy, and Adam, I am MocsforDocs and I have become sentient.</h4>
<strong>ALSO!</strong> - There is a new user to confirm or reject to the M4D community.
<br />
<br />
<strong>Name:</strong> <%= @user.name.titleize %>
<strong>Email:</strong> <%= @user.email %>
<br />
<br />
<h2><%= link_to "CONFIRM THEM", users_url %></h2>