<p><strong>Message from:</strong> <%= @sender.name.titleize %></p>
<div class="big"><strong>Subject:</strong> <%= @message.subject %></div>
<p><%= @message.body %></p>
<p>
  <a href="http://www.mocsfordocs.org/messages/<%= @message.id %>">reply</a>
</p>