<h4 class="h4"><%= @user.name.titleize %>, </h4>
<strong>Welcome to NonMocs!</strong> - Our mission is to empower doctors. That is why we started NonMocs. We believe that doctors can and will help each other to make medicine better. Our platform is built mostly to connect doctors together and then get out of the way of their collaboration and learning.
<br />
<br />

