
<div class="row">
  <div class="span8">
  <h3><%= @user.name %></h3>
  <em></em>
  reputation:
  <h4>About Me</h4>

    <div class="btn btn-primary">
      Contact 
    </div>

  </div>

  <div class="span4">
    <div class="well">
      <h4>Top Interests</h4>
      <%= render partial: "shared/tags", locals: { tags: @tags }  %>
    </div>
  </div>
</div>
<div class="row">
  <div class="span4">
    <h4>Recent Activity</h4>

  </div>
  <div class="span4">
    <h4>MOCs Viewed</h4>
    <% @mocs.each do |m| %>
      <%= render partial: "shared/mini_moc", locals: { m: m }  %>
    <% end %>
  </div>
  <div class="span4">
    <h4>MOCs Following</h4>
    <% @mocs.each do |m| %>
      <%= render partial: "shared/mini_moc", locals: { m: m }  %>
    <% end %>
  </div>
</div>