
<div class="row">
  <div class="span4">
  <h3><%= @user.name %></h3>
  <em></em>
  reputation:
  <h4>About Me</h4>
  </div>

  <div class="span4">
    <h4>Contact</h4>
    <div class="btn btn-primary btn-large">
      <%= @user.name %>
    </div>
    <h4>Top Interests</h4>
  </div>
  <div class="span4">
    <div class="well">
      <h4>Recommended Mocs</h4>
    </div>
  </div>
</div>
<h3>Mocs</h3>
<div class="row">
  <div class="span4">
    <h4>Following</h4>
  </div>
  <div class="span4">
    <h4>Viewed</h4>
  </div>
  <div class="span4">
    <h4>Completed</h4>
  </div>
</div>