<div class="row-fluid">
  <ul class="thumbnails">
    <li class="span4">
      <div class="text-center">
        <%= image_tag "tracy.png", class:"img-circle", width:200 %>
      </div>
      <div class="caption">
        <h3>Tracy Flood, MD, PhD - CEO</h3>
        <p>Tracy received her medical training and doctorate from the University of Illinois Champaign-Urbana. She moved to Madison, WI for training in Pediatrics and now focuses on population-based approaches to healthcare and improving medical education. </p>
      </div>
    </li>
    <li class="span4">
      <div class="text-center">
        <%= image_tag "andrew.jpg", class:"img-circle", width:200 %>
      </div>
      <div class="caption">
        <h3>Andrew Conley - COO</h3>
        <p></p>
      </div>
    </li>
    <li class="span4">
      <div class="text-center">
        <%= image_tag "braus.jpeg", class:"img-circle", width:200 %>
      </div>
      <div class="caption">
        <h3>Adam Braus - CTO</h3>
        <p></p>
      </div>
      </div>
    </li>
  </ul>
</div>