<div class="row-fluid">

  <hr>
  <ul class="thumbnails">
    <li class="span4">
      <div class="">
        <%= image_tag "tracy.png", class:"img-circle" %>
        <div class="caption">
          <h3>Tracy Flood</h3>
          <p>Description</p>
        </div>
      </div>
    </li>
    <li class="span4">
      <div class="">
        <%= image_tag "andrew.jpg", class:"img-circle" %>
        <div class="caption">
          <h3>Andrew Conely</h3>
          <p>Description</p>
        </div>
      </div>
    </li>
    <li class="span4">
      <div class="">
        <%= image_tag "braus.jpeg", class:"img-circle" %>
        <div class="caption">
          <h3>Adam Braus</h3>
          <p>Description</p>
        </div>
      </div>
    </li>
  </ul>
</div>