    <section id="Overview">
      <h1>Come, Learn, Contribute</h1>
      <p class="lead"><small> Non-MOCs for Docs is an online tool that gathers projects from across the web to help board-certified physicians find projects to complete that will help with Maintenance of Certification for their particular specialty. The site organizes these projects, helps gather detailed information about each project, and allow the specialists completing the projects to vote each project <strong>up</strong> or <strong>down</strong>. By providing physicians with as much transparency about projects and allowing feedback on projects, we created a tool to help streamline physicians' MOC process as well as help benefit healthcare outcomes for the long-term.</small></p>
    </section>
    <section id="searchingProjects">
      <h1>Searching MOC Projects</h1>
      <p class="lead"><small>Searching for projects is easy and intuitive, and it does not require you to leave the site's homepage. To search for a project, first select up to three different <em>labels</em> of topics that interest you. These labels can be combined in any different combination and reassembled when needed. As you add or remove <em>labels</em> to your search, different projects appear in a list below. Next, you can filter the list of projects by using the <em>sort/filter tabs</em> just above the project list. This allows you to sort and filter based on different project criteria. Finally, if you are looking for a particular project, project leader, or sponsoring organization, use our quick search bar to be able to find those more readily</small></p>
    </section>
    <section id="yourProfile">
      <h1>Your Profile</h1>
      <p class="lead"><small>Your profile is your landing page for your personal activity. You will be able to share some information about yourself as well as track your favorited projects, your completed projects, and your current projects. By completing different MOC projects or creating your own, you will earn points on our site. By being a point leader, others on the site will look to you as an expert in that area. Your expertise will be in high demand by other physicians who will be reading your project reviews and potentially messaging you for help or collaboration.</small></p>
    </section>
  </div>