<div class="row-fluid">
    <div class="span4">
        <ul class="nav nav-list" data-spy="affix" data-offset-top="50">
            <li><a href="#one"> Come, Learn, Contribute</a></li>
            <li><a href="#two"> Searching MOC Projects</a></li>
            <li><a href="#three"> Your Profile</a></li>
 <!--            <li><a href="#four"><i class="icon-chevron-right"></i> Four</a></li>
            <li><a href="#five"><i class="icon-chevron-right"></i> Five</a></li>
            <li><a href="#six"><i class="icon-chevron-right"></i> Six</a></li>
            <li><a href="#seven"><i class="icon-chevron-right"></i> Seven</a></li> -->
        </ul>

    </div>
    <div class="span8">
        <fieldset id="one">
            <legend>Come, Learn, Contribute</legend>
            <div class="fieldset-content">
                <p>
                  Non-MOCs for Docs is an online tool that gathers projects from across the web to help board-certified physicians find projects to complete that will help with Maintenance of Certification for their particular specialty. The site organizes these projects, helps gather detailed information about each project, and allow the specialists completing the projects to vote each project <strong>up</strong> or <strong>down</strong>. By providing physicians with as much transparency about projects and allowing feedback on projects, we created a tool to help streamline physicians' MOC process as well as help benefit healthcare outcomes for the long-term.
                </p>
            </div>
        </fieldset>
        
        <fieldset id="two">
            <legend>Searching MOC Projects</legend>
            <div class="fieldset-content">
                <p>
                  Searching for projects is easy and intuitive, and it does not require you to leave the site's homepage. To search for a project, first select up to three different <em>labels</em> of topics that interest you. These labels can be combined in any different combination and reassembled when needed. As you add or remove <em>labels</em> to your search, different projects appear in a list below. Next, you can filter the list of projects by using the <em>sort/filter tabs</em> just above the project list. This allows you to sort and filter based on different project criteria. Finally, if you are looking for a particular project, project leader, or sponsoring organization, use our quick search bar to be able to find those more readily.
                </p>
            </div>
        </fieldset>
        
        <fieldset id="three">
            <legend>Your Profile</legend>
            <div class="fieldset-content">
                <p>
                  Your profile is your landing page for your personal activity. You will be able to share some information about yourself as well as track your favorited projects, your completed projects, and your current projects. By completing different MOC projects or creating your own, you will earn points on our site. By being a point leader, others on the site will look to you as an expert in that area. Your expertise will be in high demand by other physicians who will be reading your project reviews and potentially messaging you for help or collaboration.
                </p>
            </div>
        </fieldset>
<!-- 
        <fieldset id="four">
            <legend>four</legend>
            <div class="fieldset-content">
                <p>
                    "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi 
                    architecto beatae vitae dicta sunt     explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione 
                    voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut 
                    labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi 
                    consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eumfugiat quovoluptas nulla pariatur?"
                </p>
            </div>
        </fieldset>

        <fieldset id="five">
            <legend>five</legend>
            <div class="fieldset-content">
                <p>
                    "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi 
                    architecto beatae vitae dicta sunt     explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione 
                    voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut 
                    labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi 
                    consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eumfugiat quovoluptas nulla pariatur?"
                </p>
            </div>
        </fieldset>

        <fieldset id="six">
            <legend>six</legend>
            <div class="fieldset-content">
                <p>
                    "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi 
                    architecto beatae vitae dicta sunt     explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione 
                    voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut 
                    labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi 
                    consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eumfugiat quovoluptas nulla pariatur?"
                </p>
            </div>
        </fieldset>

        <fieldset id="seven">
            <legend>seven</legend>
            <div class="fieldset-content">
                <p>
                    "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi 
                    architecto beatae vitae dicta sunt     explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione 
                    voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut 
                    labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi 
                    consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eumfugiat quovoluptas nulla pariatur?"
                </p>
            </div>
        </fieldset>         -->
    </div>
</div>