<div class="content">
            
<div class="rich-content-wrapper">

    <h1>Terms of Service</h1>

    <p>Welcome to MocsforDocs.org, a community marketplace for physician quality improvement. The MocsforDocs.org website and service including (without limitation) all websites, mobile applications and other interactive properties through which the service is delivered (collectively, the “Service”) are owned, operated and distributed by MocsforDocs, LLC., a Wisconsin corporation (referred to in these Terms of Service as “MocsforDocs.org” or “we” and through similar words such as “us,” “our,” etc.).  By accessing any part of the Service, you are agreeing to the terms and conditions described below (these “Terms of Service”), the terms and conditions of our privacy policy (the “Privacy Policy”) and any other legal notices published by us on the Service (collectively, the “Governing Documents”). If you do not agree to any of these terms, you should not use the Service. These Terms of Service apply to all users, including both users who are simply viewing content available via the Service and users who have registered as members of MocsforDocs.org.</p>

    <p>We may, at our sole discretion, modify these Terms of Service at any time.  By accessing the Service at any time after such modifications, you are agreeing to such modifications.  These Terms of Service were last modified as of September 5, 2013.</p>


    <h2>Description of Service</h2>

    <p>The MocsforDocs.org Service allows physicians and quality improvement users to both create, share, discover, and complete QI projects.</p>

    <p>We reserve the right to refuse to provide the Service to any person for any reason and/or to discontinue the Service in whole or in part at any time, with or without prior notice.</p>


    <h2>Copyright, Licenses and User Submissions</h2>

    <p>The entire contents of the Service are protected by international copyright and trademark laws and other proprietary rights. The owners of the copyrights and trademarks are MocsforDocs.org, its affiliates and/or other third party licensors. YOU MAY NOT MODIFY, COPY, REPRODUCE, REPUBLISH, UPLOAD, POST, TRANSMIT, OR DISTRIBUTE, IN ANY MANNER, THE MATERIAL ON THE SERVICE, INCLUDING TEXT, GRAPHICS, CODE AND/OR SOFTWARE. You may print and download portions of material from the different areas of the Service solely for your own non-commercial use provided that you agree not to change or delete any copyright or proprietary notices from the materials, and not to share any material that you paid for with anyone else who has not also purchased a license for that material.</p>

    <p>You may not use any robots, spiders, or similar data mining, data gathering or extraction tools or manual processes to collect, gather or copy any content or data on or related to the Service in a manner not authorized by MocsforDocs.org in writing. You may not engage in practices of "screen scraping," "database scraping" or any other practice or activity the purpose of which is to obtain lists of users, portions of a database, or other lists or information from the Service, in any manner and any quantities not authorized by MocsforDocs.org in writing. You may not frame or utilize framing techniques to enclose any trademark, logo or other proprietary information (including images, text, page layout or form) of MocsforDocs.org or its affiliates without express written consent. You may not use meta tags or any other "hidden text" utilizing the MocsforDocs.org name or trademarks without the express written consent of MocsforDocs.org.</p>

    <p>Content submitted by users for inclusion on the Service (including, without limitation, any information submitted on message boards, forums or other public areas of the Service) is sometimes referred to in these Terms of Service as “User Submissions.”  Whether or not any User Submission is published, it will be subject to these Terms of Service.  MocsforDocs.org does not guarantee any confidentiality with respect to a User Submission, regardless of whether or not it is published.  You are solely responsible for your own User Submissions and the consequences of posting or publishing them.  You represent and warrant that you own or have the necessary licenses, rights, consents and permissions to your User Submissions (and all content included therein), including the right to authorize MocsforDocs.org to use the User Submissions in the manner contemplated by the Service and these Terms of Service.</p>

    <p>You hereby grant to MocsforDocs.org a non-exclusive, royalty-free, worldwide, perpetual license, with the right to sub-license, to reproduce, distribute, transmit, create derivative works of, publicly display and publicly perform any User Submissions or any other materials or information (including, without limitation, ideas for new or improved products or services) you communicate to MocsforDocs.org by all means and in any media now known or hereafter developed. You also grant to MocsforDocs.org the right to use your name in connection with the submitted materials and other information as well as in connection with all advertising, marketing and promotional material related thereto. You agree that you shall have no recourse against MocsforDocs.org for any alleged or actual infringement or misappropriation of any proprietary right in your communications to MocsforDocs.org.</p>

    <p>MocsforDocs.org will not tolerate violations of intellectual property rights on the Service. If you are a copyright owner and believe that any User Submission or other content infringes upon your copyrights, you may submit a notification pursuant to the Digital Millennium Copyright Act ("DMCA"). To provide MocsforDocs.org notice of an infringement, you must provide a written communication to the attention of "DMCA Infringement Notification Dept." care of <a href="https://mail.google.com/mail/?view=cm&amp;fs=1&amp;tf=1&amp;to=team@MocsforDocs.org.com" target="_blank">help@MocsforDocs.org.com</a> that sets forth the information specified by the DMCA (see <a href="http://www.copyright.gov/title17/92chap5.html#512">http://www.copyright.gov/title17/92chap5.html#512</a>). You may be liable for damages (including costs and attorneys' fees) if you materially misrepresent that an activity is infringing your copyright.</p>


    <h2>Account Terms</h2>

    <p>The following terms apply to your use of the Service and any account that you may open or attempt to open via the Service:</p>

    <ol>
      <li>You must be 13 years or older to use the Service.</li>
      <li>You must be a human to open an account. Accounts registered by "bots" or other automated methods are not permitted.</li>
      <li>You must provide your legal full name, valid email address, and any other information requested in order to complete the signup process.</li>
      <li>You are responsible for maintaining the security of your account and password. MocsforDocs.org will not be liable for any loss or damage from your failure to comply with this security obligation.</li>
      <li>You agree not to upload any copyrighted, trademarked, or proprietary materials on the Service without the expressed permission of the owner.</li>
      <li>You agree to use the Service only for lawful purposes and agree to not use the Service in any way that will infringe upon the use or rights of any other user.</li>
    </ol>


    <h2>Fees</h2>

    <p>We reserve the right, at any time, to change any fees or charges for using any services provided on the Service (or to begin charging fees for any free service), provided that such changes will not apply to fees or charges paid prior to the time of the change.</p>


    <h2>Conduct on Service</h2>

    <p>Your use of the Service is subject to all applicable laws and regulations, and you are solely responsible for the substance of your communications through the Service. You agree that you will not upload, share, post, or otherwise distribute or facilitate distribution of any User Submission — including text, communications, software, images, sounds, data, or other information — that:</p>

    <ol>
      <li>is unlawful, threatening, abusive, harassing, defamatory, libelous, deceptive, fraudulent, invasive of another’s privacy, tortious, contains explicit or graphic descriptions or accounts of sexual acts (including but not limited to sexual language of a violent or threatening nature directed at another individual or group of individuals), or otherwise violates our rules or policies;</li>
      <li>victimizes, harasses, degrades, or intimidates an individual or group of individuals on the basis of religion, gender, sexual orientation, race, ethnicity, age, or disability;</li>
      <li>infringes on any patent, trademark, trade secret, copyright, right of publicity, or other intellectual property or proprietary right of any party;</li>
      <li>constitutes unauthorized or unsolicited advertising, junk or bulk email (also known as "spamming"), chain letters, any other form of unauthorized solicitation, or any form of lottery or gambling;</li>
      <li>contains software viruses or any other computer code, files, or programs that are designed or intended to disrupt, damage, or limit the functioning of any software, hardware, or telecommunications equipment or to damage or obtain unauthorized access to any data or other information of any third party; or</li>
      <li>impersonates any person or entity, including any of our employees or representatives.</li>
    </ol>

    <p>We neither endorse nor assume any liability for the contents of any User Submission. We generally do not pre-screen, monitor, or edit User Submissions. However, we and our agents have the right at their sole discretion to remove any User Submission or other content that, in our judgment, does not comply with these Terms of Service and any other rules of user conduct for the Service, or is otherwise harmful, objectionable, or inaccurate. We are not responsible for any failure or delay in removing any such User Submission or other content. You hereby consent to such removal and waive any claim against us arising out of such removal of any User Submission, whether it is your own or another user’s. See "Copyrights, Licenses and User Submissions" above for a description of the procedures to be followed in the event that any party believes that a User Submission infringes on any patent, trademark, trade secret, copyright, right of publicity, or other proprietary right of any party.</p>

    <p>You may not use your account to breach security of another account or attempt to gain unauthorized access to another network or server. Not all parts of the Service may be available to you or other authorized users of the Service. You shall not interfere with anyone else’s use and enjoyment of the Service. Users who violate systems or network security may incur criminal or civil liability.</p>

    <p>You agree that we may at any time, and at our sole discretion, terminate your membership, account, or other affiliation with the Service without prior notice to you for violating any of the above provisions. In addition, you acknowledge that we will cooperate fully with investigations of violations of systems or network security at other sites, including cooperating with law enforcement authorities in investigating suspected criminal violations.</p>


    <h2>Creating or Joining a QI Project</h2>

    <p>These Terms of Service and the Governing Documents are in addition to any agreements, releases or other documents (the “Project Agreements”) that a creator and joiner may enter into in connection with a project, including any Project Agreements entered into through the Service. Students and creators are each responsible to the other for complying with the terms of the Project Agreements, but MocsforDocs.org has no control over either party’s compliance. Among other things, MocsforDocs.org cannot control (a) the provisions of the Project Agreements, (b) the accuracy or legality of the Project Agreements or (c) any party’s performance of its obligations under the Project Agreements. Accordingly, MocsforDocs.org shall not be held responsible for any liability arising out of the Project Agreements or any actions that you may take in reliance thereon, and is not a party to any transaction between you and any other user. <span class="upper">To the fullest extent permitted by law, you hereby release MocsforDocs.org and its officers, directors, employees, agents, affiliates and their respective successors and assigns (collectively, the “MocsforDocs.org parties”) from any claims or damages of any kind or nature, known or unknown, suspected or unsuspected, disclosed or undisclosed, relating to any dispute relating to the project agreements or any transaction or attempted transaction with another user of the service (whether a joiner or creator). You agree and understand and intend that this assumption of risk and release is binding upon you and your heirs, executors, agents, administrators and assigns</span>.</p>

    <p>Your creating or joining of a project is at your sole risk. MocsforDocs.org does not supervise projects and is not involved in any way with the actions of any individuals (whether joiners or creators) at any project. As a result, we have no control over the identity or actions of the individuals who are present at these projects, and we request that our users exercise caution and good judgment when joining Projects. You acknowledge and agree that by participating in any project, you may be exposed to a variety of risks and hazards, which may or may not be foreseen, including (without limitation) personal injury, property damage and death. You are solely responsible for all costs and/or risks associated with your participation in any project. <span class="upper">To the fullest extent permitted by law, you hereby release MocsforDocs.org and each of the other MocsforDocs.org parties from any claims or damages of any kind or nature, known or unknown, suspected or unsuspected, disclosed or undisclosed, relating to your participation in any event, whether as a joiner or creator. You agree and understand and intend that this assumption of risk and release is binding upon you and your heirs, executors, agents, administrators and assigns</span>.</p>

    <p>If applicable, you waive California Civil Code Section 1542, which states, in relevant part: “<span class="upper">A general release does not extend to claims which the creditor does not know or suspect to exist in his favor at the time of executing the release, which if known by him must have materially affected his settlement with the debtor</span>.”</p>

    <p>MocsforDocs.org reserves the right to, but is under no obligation, to delete the listing of any project at any time and for any reason.</p>


    <h2>Special Rules for Students</h2>

    <ol>
      <li>You agree to accept all of the terms and conditions including the cancellation policy listed in the Service when you agree to book a project on MocsforDocs.org.</li>
      <li>The Projects offered on MocsforDocs.org are offered directly by the creators. MocsforDocs.org is not responsible or liable for any information on its Service listings or profiles.</li>
      <li>All Projects offered on MocsforDocs.org are valid only for the specified date. MocsforDocs.org is not responsible for any changes or cancellations made to projects by the creator.</li>
      <li>You agree to follow all reasonable rules set by a creator with respect to a project, and not to take any actions to interfere with the creator or any other joiners in the project.</li>
      <li>You agree to join each project solely for educational purposes, and not with the goal of copying any materials or techniques for purposes of your own or others’ projects, or for interfering with any project or the creator’s ongoing relationship with any joiners joining such project.</li>
      <li>When you pay to participate in the project you will have the unlimited right to download the materials for the project. The materials will remain available for download in your online account indefinitely from the date of purchase.</li>
    </ol>


    <h2>Special Rules for Teachers</h2>

    <ol>
      <li>By listing a project on MocsforDocs.org, you assume full responsibility for the content of the Service offered.</li>
      <li>By listing a project on MocsforDocs.org, you understand that it is publicly available to be viewed and book by any joiner.</li>
      <li>By listing a project on MocsforDocs.org, you agree to honor and registrations through MocsforDocs.org.com at the price and time listed in the Service, and not to refuse registration or joinance by any joiner for any discriminatory or other illegal reason.</li>
      <li>You represent and warrant to MocsforDocs.org that you are qualified to teach the projects that you list with the Service and that you will at all times conduct yourself in a professional manner and in compliance with all applicable laws.</li>
      <li>You agree not to abuse your joiners’ personal information. Abuse is defined as using personal information for any purpose other than those explicitly specified in your project without the joiners’ prior consent.</li>
      <li>You understand that, if you teach a project, your joiners will have the opportunity to review their experience with you. We cannot control the contents of any such review and will not be held responsible for any information or opinions that a user may include in any such review.</li>
      <li>You may choose to remove content from your project and will continue to own such content, but we will continue to have the right to use that content and to provide it to joiners who have paid for your project.</li>
    </ol>


    <h2>Payment and Fees</h2>

    <ol>
      <li>Fees for projects are collected by MocsforDocs.org from joiners via Stripe and (subject to the below) are then remitted to the creator via Stripe.</li>
      <li>Refunds at MocsforDocs.org's discretion are available until fourteen (14) days after the later of (a) the enrollment date or (b) the project launch date. Assuming receipt by MocsforDocs.org of payment from a joiner, fees for online projects will be sent to Stripe for processing on the first regularly scheduled “payment date” after the expiration of the refund period described above. Regularly scheduled “payment dates” are on the 1st and 16th of each month (or if any such day is not a business day, the next succeeding business day).</li>
      <li>Teachers and joiners agree that MocsforDocs.org’s responsibility is solely to process payments as set forth above, and MocsforDocs.org is not party to any transaction between any joiner and/or creator and cannot be held responsible for any issues arising from any such transaction.</li>
      <li>A full payment is required to register for a class on MocsforDocs.org, unless otherwise agreed by the creator.</li>
      <li>Fees for projects or any other portion of the Service may be changed at any time without prior notice.</li>
      <li>Teachers are responsible for all income, sales and other taxes associated with fees earned from their projects.  MocsforDocs.org will make commercially reasonable efforts to provide each creator with a 1099 reflecting fees paid to such creator following the end of each year, and reserves the right to withhold any payment until it has received all tax identification information it reasonably requires.</li>
    </ol>

    <h2>Cancellations and Refunds</h2>

    <p>Except for the refund period for online projects described above, MocsforDocs.org is not responsible or liable for any refunds for projects. Any other refunds or cancellations are managed by the creators who provide the booked projects at their discretion. In such situations, a creator may (but is not required) to agree to a suitable raincheck, make-good, or refund.</p>


    <h2>Disclaimer of Warranties</h2>

    <p class="upper">The service and all materials included therein are provided on an “as is” and “as available” basis without warranty of any kind, either express or implied, including, but not limited to, the implied warranties of merchantability or fitness for a particular purpose, or the warranty of non-infringement. Without limiting the foregoing, we make no warranty that (a) the service and materials will meet your requirements, (b) the service and materials will be uninterrupted, timely, secure, or error-free, (c) the results that may be obtained from the use of the service or materials will be effective, accurate or reliable, or (d) the quality of any class that you join via the service, or any other products, services, or information purchased or obtained by you from the service from us or our affiliates will meet your expectations or be free from mistakes, errors or defects.</p>

    <p class="upper">The service could include technical or other mistakes, inaccuracies or typographical errors. we may make changes to the service and any of the content or features included therein, including the prices and access rules for any functionality, at any time without notice. the content included on the service may be out of date, and we make no commitment to update such content.</p>

    <p class="upper">The use of the service or the downloading or other acquisition of any materials through the service is done at your own discretion and risk and with your agreement that you will be solely responsible for any damage or loss of data that results from such activities.</p>

    <p>Through your use of the Service, you may have the opportunities to engage in commercial transactions with other users and vendors, including (without limitation) joiners and creators. You acknowledge that all transactions relating to any class or other merchandise or services offered by any party, including, but not limited to the purchase terms, payment terms, warranties, guarantees, maintenance and delivery terms relating to such transactions, are agreed to solely between the seller or purchaser of such merchandise and services and you. <span class="upper">We make no warranty regarding any transactions executed through, or in connection with the service, and you understand and agree that such transactions are conducted entirely at your own risk. Any warranty that is provided in connection with any class, products, services, materials, or information available on or through the service from a third party is provided solely by such third party, and not by us or any other of our affiliates</span>.</p>

    <p>Content available through the Service or presented at any class represents the opinions and judgments of an information provider, user, or other person or entity not connected with us. We do not endorse, nor are we responsible for the accuracy or reliability of, any opinion, advice, or statement made by anyone other than an authorized MocsforDocs.org spokesperson speaking in his/her official capacity. Please refer to the specific editorial policies posted on various sections of the Service for further information, which policies are incorporated by reference into these Terms of Service.</p>

    <p>You understand and agree that temporary interruptions of the Service may occur as normal events. You further understand and agree that we have no control over third party networks you may access in the course of the use of the Service, and therefore, delays and disruption of other network transmissions are completely beyond our control.</p>

    <p>You understand and agree that the Service is provided "AS IS" and that we assume no responsibility for the timeliness, deletion, mis-delivery or failure to store any user communications or personalization settings.</p>

    <p><span class="upper">Some states or jurisdictions do not allow the exclusion of certain warranties, so some of the above limitations may not apply to you</span>.</p>


    <h2>Limitation of Liability</h2>

    <p class="upper">In no event shall we or any other MocsforDocs.org party be liable to you or any third party for any special, punitive, incidental, indirect or consequential damages of any kind, or any damages whatsoever, including, without limitation, those resulting from loss of use, data or profits, whether or not we have been advised of the possibility of such damages, and on any theory of liability, arising out of or in connection with the use of the service or of any web site referenced or linked to from the service.</p>

    <p class="upper">Further, neither we,nor any other MocsforDocs.org party, shall be liable in any way for any class or other third party goods and services offered through the service or for assistance in conducting commercial transactions with other users of the site, including without limitation any transaction between a joiner and creator.</p>

    <p class="upper">Some jurisdictions prohibit the exclusion or limitation of liability for consequential or incidental damages, so the above limitations may not apply to you.</p>


    <h2>Indemnification</h2>

    <p>Upon a request by us, you agree to defend, indemnify, and hold us and the other MocsforDocs.org Parties harmless from all liabilities, claims, and expenses, including attorneys’ fees, that arise from your violation of these Terms of Service or any of the other Governing Documents, or other negligent or wrongful conduct. We reserve the right to assume the exclusive defense and control of any matter otherwise subject to indemnification by you, in which event you will cooperate with us in asserting any available defenses.</p>


    <h2>Miscellaneous</h2>

    <p>You agree that the Service shall be deemed a passive interactive service based solely in New York and shall not give rise to personal jurisdiction over MocsforDocs.org, either specific or general, in jurisdictions other than New York. These Terms of Service, together with the Privacy Policy and the other Governing Documents, shall all be governed and construed in accordance with the internal laws of the State of New York, without regard to conflicts of law principles. You agree that any legal action or proceeding between MocsforDocs.org and you for any purpose concerning these Terms of Service, the Privacy Policy, the other Governing Documents or your use of the Service shall be brought exclusively in a federal or state court of competent jurisdiction sitting in New York, New York.</p>

    <p>Any cause of action or claim you may have with respect to any of the foregoing matters must be commenced within one (1) year after the claim or cause of action arises or such claim or cause of action is barred.</p>

    <p class="upper">To the fullest extent permitted by applicable law, no claim under these terms of service, the privacy policy or the other governing documents shall be joined to any other claim, including any claim involving any other current or former user of the service, and no class action proceedings shall be permitted.</p>

    <p>These Terms of Service, together with the Privacy Policy and the other Governing Documents, constitute the entire agreement between you and MocsforDocs.org concerning the Service and the services provided by MocsforDocs.org. If any provision of any such document is deemed invalid by a court of competent jurisdiction, the invalidity of such provision shall not affect the validity of the remaining provisions thereof, which shall remain in full force and effect. MocsforDocs.org's failure to insist upon or enforce strict performance of any provision of these Terms of Service or any of the other Governing Documents shall not be construed as a waiver of any provision or right. Neither the course of conduct between the parties nor trade practice shall act to modify any provision of these Terms of Service. MocsforDocs.org may assign its rights and duties under these Terms of Service or any of the other Governing Documents to any party at any time without notice to you.</p>

    <p>Most communication between MocsforDocs.org and you will be sent and received electronically. You agree that all electronic communication between MocsforDocs.org and you shall satisfy any legal requirements that such communications be in writing.</p>

    <p>Any rights of MocsforDocs.org not expressly granted herein are reserved.</p>

</div>          </div>