<tr>
  <td><%= link_to post_path(post) do %> <strong><%= post.title %></strong></td>
  <td class="muted"><%= post.desc %></td>
  <% end %>
  <td><%= render partial: "shared/tags", locals: { tags: post.tags }  %></td>
</tr>