<div class="well alert-info">
  <strong>3 Tips for creating a new Moc Quality Improvement Project</strong>
  <ol>
    <li>
      1. Choose a title that is brief and descriptive
    </li>
    <li>
      2. In your description, call out specifically what fellow doctors will get out of completing your project
    </li>
    <li>
      3. Use topic keywords that are popular and searchable
    </li>
  </ol>
</div>
<%= render 'form' %>

<%= link_to 'Back', posts_path %>
