added comment to MOC:
<% if activity.trackable %>
  <%= link_to activity.trackable.commentable.short_title, activity.trackable.commentable %>
  <p><%= activity.trackable.content %></p>
<% else %>
  which has since been removed 
<% end %>